In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../csv/d2_final.csv')

In [5]:
df.drop('Unnamed: 0', axis = 1, inplace = True)

In [7]:
df.head()

,Result,WhiteElo,BlackElo,EloDiff,Event,ECO_enc,Termination,TimeControl_enc
0,1,2460,2218,242,0,200,1,6
1,1,2428,2424,4,0,483,0,6
2,1,2441,2300,141,4,106,0,13
3,2,2280,2667,-387,0,464,0,6
4,1,2557,2682,-125,0,41,0,6

In [8]:
df.shape

(98756, 8)

In [9]:
df1 = df[df['Result'] == 1]
df2 = df[df['Result'] == 2]
df3 = df[df['Result'] == 3]

In [10]:
print(df1.shape)
print(df2.shape)
print(df3.shape)

(47170, 8)
(42549, 8)
(9037, 8)

In [11]:
df1 = df1.sample(n = 9037, random_state = 42)
df2 = df2.sample(n = 9037, random_state = 42)

In [12]:
df_sample = pd.concat([df1, df2, df3], ignore_index = True)

df_sample

,Result,WhiteElo,BlackElo,EloDiff,Event,ECO_enc,Termination,TimeControl_enc
0,1,2669,2625,44,0,101,0,6
1,1,2516,2337,179,0,120,1,6
2,1,2468,2435,33,0,106,0,6
3,1,2404,2337,67,0,10,0,6
4,1,2295,2438,-143,0,492,0,6
...,...,...,...,...,...,...,...,...
27106,3,2546,2360,186,0,250,0,6
27107,3,2425,2363,62,0,150,0,6
27108,3,2402,2358,44,0,245,0,6
27109,3,2330,2458,-128,0,107,0,8
27110,3,2484,2477,7,0,45,0,6

In [13]:
df_sample.to_csv('../csv/df2_sample.csv', index = False)